<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body style="margin: 0px">
		<div
			style="
				background-color: #f5f5f5;
				padding: 30px 0px 30px 0px;
				display: run-in;
				text-align: center;
			"
		>
			<img
				align="center"
				alt="Transparent Path spc"
				src="https://app.tpath.io/ff52ab9d5b614f04101dcc68a3d253e7.png"
				width="312.5"
				style="
					max-width: 625px;
					padding-bottom: 0;
					display: inline !important;
					vertical-align: bottom;
				"
			/>
		</div>
		<p><br /><br /></p>
		<table align="center" style="width: 719px">
			<tbody>
				<tr style="height: 104px">
					<td style="width: 691px; height: 150px">
						<div>
							<p>{{message.body_text}}</p>
							<p><strong>Shipment: </strong>{{ message.shipment_name }}</p>

							{% if message.severity == 'error' %}
								<p><strong>ISSUE: </strong>{{ message.alert_message }}</p>
							{% elif message.severity == 'info' %}
							<p><strong>ISSUE: </strong>{{ message.alert_message }}</p>
							{% elif message.severity == 'success' %}
								<p><strong>RESOLUTION: </strong>{{ message.alert_message }}</p>
							{% endif %}

							{% if message.severity == 'error' %}
								<p><strong>ISSUE LOCATION: </strong><a href="{{message.location}}"><span>Click here</span></a></p>
							{% elif message.severity == 'info' %}
								<p><strong>ISSUE LOCATION: </strong><a href="{{message.location}}"><span>Click here</span></a></p>
							{% elif message.severity == 'success' %}
								<p><strong>RESOLUTION LOCATION: </strong><a href="{{message.location}}"><span>Click here</span></a></p>
							{% endif %}

							{% if message.severity == 'error' %}
								<p><strong>ITEMS IN JEOPARDY: </strong>{{ message.items }}</p>
							{% elif message.severity == 'info' %}
								<p><strong>ITEMS IN JEOPARDY: </strong>{{ message.items }}</p>
							{% elif message.severity == 'success' %}
								<p><strong>ITEMS RECOVERED: </strong>{{ message.items }}</p>
							{% endif %}

							<p><strong>SHIPMENT VALUE: </strong>{{ message.shipment_value }}</p>
							<p><strong>ACTION: </strong><span style="color:{{ message.color }}">Please verify any product damage or loss as soon as possible.</span></p>
							</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<p><br /><br /><br /><br /><br /></p>
		<div style="background-color: #f5f5f5; padding: 1px 0px 1px 0px; text-align: center">
			<p>
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>A product of Transparent Path spc</span
				><br />
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>1700 Westlake Avenue North • Suite 200 • Seattle, WA 98109 • USA</span
				><br />
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>To report an issue, email our Support Team at
					<a
						href="mailto:support@transparentpath.com"
						target="_blank"
						style="text-decoration: underline; color: #0abffc"
						><span style="color: #0abffc">support@transparentpath.com</span></a
					></span
				>
			</p>
		</div>
	</body>
</html>
