<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
		<title></title>
	</head>
	<body style="margin: 0px; font-family: 'IBM Plex Sans';">
		<div
			style="
				background-color: #f5f5f5;
				padding: 30px 0px 30px 0px;
				display: run-in;
				text-align: center;
			"
		>
			<img
				align="center"
				alt="Transparent Path spc"
				src="https://storage.googleapis.com/tp-prod-bucket/images/tp-logo.png"
				width="312.5"
				style="
					max-width: 625px;
					padding-bottom: 0;
					display: inline !important;
					vertical-align: bottom;
				"
			/>
		</div>
		<p><br /><br /></p>
		<table align="center" style="width: 719px">
			<tbody>
				<tr style="height: 104px">
					<td style="width: 691px; height: 150px">
						<div>
							<p style="color:{{ message.color }}">{{message.body_text}}</p>
							<p>
								<strong>Shipment: </strong>
								<a href="{{message.shipment_url}}">
									<span>{{ message.shipment_name }}</span>
								</a>
							</p>

							{% if message.severity == 'error' %}
								<p>
									<strong>ISSUE: </strong>
									<span>{{ message.alert_message }}{{ message.local_time }}</span>
								</p>
							{% elif message.severity == 'info' %}
								<p>
									<strong>ISSUE: </strong>
									<span>{{ message.alert_message }}{{ message.local_time }}</span>
								</p>
							{% elif message.severity == 'success' %}
								<p>
									<strong>RESOLUTION: </strong>
									<span>{{ message.alert_message }}{{ message.local_time }}</span>
								</p>
							{% endif %}

							{% if message.severity == 'error' %}
								<p>
									<strong>ISSUE LOCATION: </strong>
									<span>{{ message.location }}</span>
								</p>
							{% elif message.severity == 'info' %}
								<p>
									<strong>ISSUE LOCATION: </strong>
									<span>{{ message.location }}</span>
								</p>
							{% elif message.severity == 'success' %}
								<p>
									<strong>RESOLUTION LOCATION: </strong>
									<span>{{ message.location }}</span>
								</p>
							{% endif %}

							{% if message.severity == 'error' %}
								<p>
									<strong>ITEMS IN JEOPARDY: </strong>
									<span>{{ message.items }}</span>
								</p>
							{% elif message.severity == 'info' %}
								<p>
									<strong>ITEMS IN JEOPARDY: </strong>
									<span>{{ message.items }}</span>
								</p>
							{% elif message.severity == 'success' %}
								<p>
									<strong>ITEMS RECOVERED: </strong>
									<span>{{ message.items }}</span>
								</p>
							{% endif %}

							<p>
								<strong>SHIPMENT VALUE: </strong>
								<span>{{ message.shipment_value }}{{ message.currency }}</span>
							</p>
							<p>
								<strong>ACTION: </strong>
								<span>Please verify any product damage or loss as soon as possible.</span>
							</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<p><br /><br /><br /><br /><br /></p>
		<div style="background-color: #f5f5f5; padding: 1px 0px 1px 0px; text-align: center; position: fixed; bottom: 0; right: 0; left: 0;">
			<p>
				<span
					style="
						color: #737581;
						font-family: 'IBM Plex Sans';
						font-size: 14px;
					"
					>Transparent Path spc</span
				><br />
				<span
					style="
						color: #737581;
						font-family: 'IBM Plex Sans';
						font-size: 14px;
					"
					>1700 Westlake Avenue North Suite 200 Seattle, WA 98109</span
				>
			</p>
			<p>
				<span
					style="
						color: #737581;
						font-family: 'IBM Plex Sans';
						font-size: 14px;
					"
					>Have any questions or thoughts on Transparent Path spc</span
				><br />
				<span
					style="
						color: #737581;
						font-family: 'IBM Plex Sans';
						font-size: 14px;
					"
					>Reach out to us at anytime at
					<a
						href="mailto:support@transparentpath.com"
						target="_blank"
						style="text-decoration: underline; color: #0abffc"
						><span style="color: #0abffc">support@transparentpath.com</span></a
					></span
				>
			</p>
		</div>
	</body>
</html>
