<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body style="margin: 0px">
		<div
			style="
				background-color: #f5f5f5;
				padding: 30px 0px 30px 0px;
				display: run-in;
				text-align: center;
			"
		>
			<img
				align="center"
				alt="Transparent Path spc"
				src="https://app.tpath.io/ff52ab9d5b614f04101dcc68a3d253e7.png"
				width="312.5"
				style="
					max-width: 625px;
					padding-bottom: 0;
					display: inline !important;
					vertical-align: bottom;
				"
			/>
		</div>
		<p><br /><br /></p>
		<table align="center" style="width: 719px">
			<tbody>
				<tr style="height: 104px">
					<td style="width: 691px; height: 150px">
						<div>
							<p style="color:{{ message.color }}">{{message.body_text}}</p>
							<p>
								<strong>SHIPMENT: </strong>
								<a href="{{message.shipment_url}}">
									<span>{{ message.shipment }}</span>
								</a>
							</p>

							{% if message.origin %}
								<p>
									<strong>ORIGIN: </strong>
									<span>{{ message.origin }}</span>
								</p>
							{% endif %}

							<p>
								<strong>DESTINATION: </strong>
								<span>{{ message.destination }}</span>
							</p>

							{% if message.status == 'Enroute' %}
								<p>
									<strong>ACTION: </strong>
									<span>No action needed at this time.</span>
								</p>
							{% elif message.status == 'Arrived' %}
								<p>
									<strong>ACTION: </strong>
									<span>Please change the status to 'Completed' or 'Damaged'. If no action is taken within 24 hours, the shipment status will automatically change to 'Completed'.</span>
								</p>
							{% elif message.status == 'Completed' %}
								<p>
									<strong>ACTION: </strong>
									<span>Shipment status has changed to 'Completed'. 
										<ul>
											<li>If this shipment is completed, no further action is needed.</li>
											<li>
												If the shipment status needs to be changed, go to the to Shipments section > Select 'Completed' tab > Click on shipment name to modify the shipment status.
											</li>
										</ul>
									</span>
								</p>
							{% endif %}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<p><br /><br /><br /><br /><br /></p>
		<div style="background-color: #f5f5f5; padding: 1px 0px 1px 0px; text-align: center">
			<p>
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>A product of Transparent Path spc</span
				><br />
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>1700 Westlake Avenue North • Suite 200 • Seattle, WA 98109 • USA</span
				><br />
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>To report an issue, email our Support Team at
					<a
						href="mailto:support@transparentpath.com"
						target="_blank"
						style="text-decoration: underline; color: #0abffc"
						><span style="color: #0abffc">support@transparentpath.com</span></a
					></span
				>
			</p>
		</div>
	</body>
</html>
